.navbar {
    background-color: #c0c0c0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    height: 7vh;
}
.nav-button {
    width: 10vw;
    height: 3vh;
    margin-left: 2vw;
    margin-top: 1vh;
    border: 2px solid black;
    font-size: 2vh;
    text-overflow: ellipsis;
    cursor: pointer;
    overflow-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #272727;
    background-color: d7d7d7;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nav-button:hover {
    background-color: #c7c7c7;
}

.page-content {
    padding-top: 7vh;
}

.song-content {
    font-family: monospace, monospace;
}

.chord-diagram {
    display: inline-block;
    width: 6vw;
    height: 10vw;
}

.chord-diagram > img {
    width: 100%;
    height: 100%;
}

.chord-data-comment {
    color: #878787;
}

.chord-data-section {
    font-style: italic;
    font-size: 1.2em;
    font-weight: bold;
}

.chord-data-chords {
}

.chord-data-lyrics {
}

.song-button {
    width: 15vw;
    height: 6vh;
    margin-left: 2vw;
    margin-top: 1vh;
    border: 2px solid black;
    font-size: 2vh;
    text-overflow: ellipsis;
    cursor: pointer;
    overflow-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #272727;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.song-button:hover {
    background-color: #c7c7c7;
}

@media only screen and (max-width: 1440px) {
    .song-button {
        width: 80vw;
        height: 10vh;
        margin-left: 10vw;
        margin-top: 1vh;
        border: 2px solid black;
        font-size: 3vh;
        cursor: pointer;
        text-overflow: ellipsis;
        cursor: pointer;
        overflow-wrap: break-word;
        white-space: nowrap;
        overflow: hidden;
    }
}

.chord-v1 {
    background-color: #00dcff1c;
}
